body {
    background-color: darkslategray;
    font-family: monospace;
    /*font-size: 14pt;*/
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.socials {
    margin-right: .5em;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.job-container {
    width: fit-content;
    padding: 10px;
}

.job-item {
    background-color: cornflowerblue;
    border: 5px solid cornflowerblue;
    border-radius: 25px;
    padding: 10px;
    margin: .5em;
    font-family: Arial, Helvetica, sans-serif;
}

.job-title {
    background-color: black;
    border: 5px solid black;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.job-date {
    background-color: green;
    border: 5px solid green;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.job-skill {
    background-color: blue;
    border: 5px solid blue;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.job-company {
    background-color: red;
    border: 5px solid red;
    color: white;
    border-radius: 10px;
    width: fit-content;
}