/*

File: style.css
Author: Dilen Govin
Purpose: Styling for html served for dilengovin.com

*/

body {
    background-color: darkslategray;
    font-family: monospace;
    color: white;
}

img {
    border-radius: 50%;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
}

tr, td {
    padding: 5px;
}

td:nth-child(even) {
    text-align: right;
    width: 25%;
}

.top-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.top-column {
    padding: 10px;
}

.socials {
    margin-right: .5em;
    display: inline-block;
    fill: white;
}

.content-container {
    width: 800px;
    margin: 0 auto;
}

.exp-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a:link {
    color: white
}

a:visited {
    color: white
}

a:hover {
    text-decoration: underline;
}

/* Aligns project dates to top of cell */
.top-align{
    vertical-align: top;
}

li {
    margin-bottom: 5px;
}

ul {
    margin-bottom: 0px;
    margin-top: 5px;
}